<%- include ('../includes/header') %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Farmer List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Farmer</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <%- include ('../includes/sidebar') %>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
         
          <!-- /.card -->

          <% if (expressFlash) { %>
            <p class = "text-success"><%= expressFlash %> </p>
          <% } %>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Farmer  List</h3>
              <div class="card-tools"><a href ="/farmer/add/" class=" btn btn-block btn-outline-primary btn-sm">Add New</a></div>
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th> Name</th>
                  <th> Farm Name</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <% for (i in data) { %>
                <tr>
                  <td><%= parseInt(i)+1 %></td>
                  <td><%= data[i].farmer %></td>
                  <td><%= data[i].name %></td>
                  <td><%= data[i].addressLine1%> <%= data[i].addressLine2%> <%= data[i].locality%>,<%= data[i].cityname%></td>
                  <td><a href = "/farmer/edit/<%= data[i].id %>">Edit</a>
                      
                </tr>
                <% } %>
                </tbody>
               
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>